// 添加背景图片
body {
  background-image: url(/Mia/images/moon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: 80% 40%;
  
}

// 修改主体透明度
.main-inner {
  background: #fff;
  opacity: 0.8;
}

// 修改菜单栏透明度
.header-inner {
  opacity: 0.8;
}


* {
  cursor: url(/Mia/images/cursors/fat_cat.cur),auto!important
}
:active {
  cursor: url(/Mia/images/cursors/cat_paw_grey.cur),auto!important
}